<div class="container center">
<form [formGroup]="orderForm"  (ngSubmit)="onSubmit()">
  
  <div>
  <label>
    User:
    <input class="form-control" type="text" formControlName="userID">
  </label>
</div>
<div>

  <label>
    Order Code:
    <input class="form-control" type="text" formControlName="orderCode">
  </label>
</div>
<div>

  <label>
    Order Product:
    <input class="form-control" type="text" formControlName="orderProduct">
  </label>
</div>
<div>

  <label>
    Order Description:
    <input class="form-control" type="text" formControlName="orderDescription">
  </label>
</div>
  <button type="submit" class="btn btn-primary" [disabled]="!orderForm.valid">Submit</button>

</form>
</div>