<div class="container center">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

    <div>
      <div>
        <label>

          User ID:
        </label></div>

      <mat-form-field>
        <input matInput type="text" formControlName="userId" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id"
            (selectionChange)="selectUser($event.value)">
            {{option.firstName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>

      <label>
        <div>
          Order Code:
        </div>
        <mat-form-field>

          <input matInput class="form-control" type="text" formControlName="orderCode">
        </mat-form-field>

      </label>
    </div>
    <div>

      <label>
        <div>
          Order Product:
        </div>
        <mat-form-field>

          <input matInput class="form-control" type="text" formControlName="orderProduct">
        </mat-form-field>
      </label>
    </div>
    <div>

      <label>
        <div>
          Order Description:
        </div>
        <mat-form-field>

          <input matInput type="text" formControlName="orderDescription">
        </mat-form-field>
      </label>
    </div>

    <button type="submit" mat-raised-button color="accent" [disabled]="!orderForm.valid">Submit</button>


  </form>
</div>
