<app-search-bar (searchTrigger)="searchInput($event.target.value)"></app-search-bar>
<div class="heading-container container my-2" >
<h5 class="heading">
  Orders
</h5>
<button mat-raised-button color="primary" [routerLink]="['cart']">Place Order</button>
</div>
<div *ngIf="length==0">
  <h4 class="center">No Orders to display!!</h4>
</div>
<div class="mat-elevation-z8 container" [hidden]="length==0">
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="orderProduct">
      <mat-header-cell *matHeaderCellDef  mat-sort-header> Product </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.orderProduct}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="orderDescription">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.orderDescription}} </mat-cell>>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [(length)]="length"
  [(pageSize)]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageChangeEvent($event)" 
   showFirstLastButtons></mat-paginator>
</div>