.heading{
    padding-left: 270px;
}

.heading-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    align-items: end;
    justify-items: flex-end;
  }

.center{
    position: absolute;
    left: 42%;
}